.main {
  background-color: #18141A;
  letter-spacing: -0.2px;
}

/* .main {
  padding-bottom: 10px;
}

.heroWrapper {
  margin-top: 5px;
  padding: 0 20px;
}

.webinarContainerWrapper {
  margin-top: 25px;
  padding: 0 20px;
}

.webinarWrapper {
  margin-top: 20px;
}

.samopiarWrapper {
  margin-top: 15px;
  padding: 0 20px 0 40px;
}

.buttonWrapper {
  margin-top: 15px;
  padding: 0 20px;
}

.mediaWrapper {
  margin-top: 25px;
  padding: 0 20px;
}

.mediaListWrapper {
  margin-top: 20px;
}

.ratingsWrapper {
  margin-top: 25px;
  padding: 0 20px;
}

.ratingsListWrapper {
  margin-top: 20px;
} */
