/* .transfer {
  background: linear-gradient(162.17deg, rgba(116, 77, 181, 0) -0.53%, rgba(245, 153, 68, 0.09) 79.58%), rgba(176, 120, 231, 0.1);
  border-radius: 10px;
} */

.transfer {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 20px 0 10px;

  background: linear-gradient(162.17deg, rgba(116, 77, 181, 0) -0.53%, rgba(245, 153, 68, 0.09) 79.58%), rgba(176, 120, 231, 0.1);
  border-radius: 10px;
}

.amountWrapper {
  padding: 0 15px;
}

.bankWrapper {
  padding: 0 15px;
}

.receiveWrapper {
  padding: 0 15px;
}

.phoneWrapper {
  padding: 0 15px;
}

.infoWrapper {
  padding: 0 15px;
}

.detailsLinkWrapper {
  padding: 0 0 0 40px;
}

.detailsLink {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.8);
}

.buttonWrapper {
  padding: 0 15px;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.appendumWrapper {
  padding: 0 15px;
}

.instructionWrapper {
  padding: 10px 10px 0px;
  border-top: 1px solid #1d1723;
}
