.app {
}

.appear {
}

.appearActive {
}

.appearDone {
}

.enter {
  position: absolute;
  z-index: 2;
  transform: translate(100%, 0);
}

.enterActive {
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 250ms ease;
}

.enterDone {
}

.exit {
  position: absolute;
  z-index: 1;
  transform: translate(0, 0);
}

.exitActive {
  transform: translate(-100%, 0);
  transition: opacity 250ms ease-out, transform 250ms ease;
}

.exitDone {
}

.appearBack {
}

.appearActiveBack {
}

.appearDoneBack {
}

.enterBack {
  position: absolute;
  z-index: 2;
  transform: translate(-100%, 0);
}

.enterActiveBack {
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 250ms ease;
}

.enterDoneBack {
}

.exitBack {
  position: absolute;
  z-index: 1;
  transform: translate(0, 0);
}

.exitActiveBack {
  transform: translate(100%, 0);
  transition: opacity 250ms ease-out, transform 250ms ease;
}

.exitDoneBack {
}
