.round {
  padding-bottom: 15px;
}

.profileWrapper {
  padding: 0 20px;
}

.tabs {
  margin-top: 20px;
  padding: 0 20px;
}

.tabsWrapper {
  margin-top: 20px;
}

.roundBlockWrapper {
  margin-top: 20px;
  padding: 0 20px;
}

.roundBlock {
}

.header {}

.roundText {
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.roundAdvantages {
  margin-top: 10px;
  display: flex;
  justify-content: stretch;
}

.roundAdvantage {
}

.advantageHeader {
  color: #ad81f7;
}

.advantageText {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.graphWrapper {
  margin-top: 20px;
  padding: 0 20px;
}

.graph {
  width: 100%;
}

.processBlockWrapper {
  /* margin-top: 30px; */
  padding: 0 20px;
}

.processBlock {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.processLine {
  display: flex;
  gap: 20px;
}

.processNumber {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ad81f7;
}

.processText {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.faqBlockWrapper {
  margin-top: 30px;
  padding: 0 20px;
}

.faqBlock {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.faqItem {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.faqTitle {
  font-size: 16px;
  color: #B57FFF;
}

.faqText {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}

.samopiarWrapper {
  margin-top: 30px;
  padding: 0 20px;
}

.samopiarHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
}

.mediaWrapper {
  margin-top: 30px;
  padding: 0 20px;
}

.mediaHeader {
  margin-bottom: 10px;
}

.ratingsWrapper {
  margin-top: 30px;
  padding: 0 20px;
}

.ratingsHeader {
  margin-bottom: 10px;
}

.block1 {
  background: linear-gradient(190.83deg, rgba(173, 129, 247, 0.084) -19.95%, rgba(27, 22, 32, 0.4) 84.57%), #1D1723;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 20px;
}
