.buyToken {
  padding-bottom: 15px;
}

.headerWrapper {
  padding: 10px 15px 0;
}

.textWrapper {
  margin-top: 10px;
  padding: 0 15px;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}

.graphWrapper {
  margin-top: 10px;
  padding: 0 15px;
}

.graph {
  width: 100%;
}

.buttonWrapper {
  margin-top: 15px;
  padding: 0 15px;
}

.button {
  font-size: 18px;
}
