.arrow {
  border: none;
  background: transparent;
  background-size: contain;
  width: 10px;
  height: 6px;
  background-repeat: no-repeat;
}

.arrowHighlighted.arrowOpened {
  background-image: url("../../../assets/images/selector-arrow-up-highlighted.svg");
}

.arrowHighlighted.arrowClosed {
  background-image: url("../../../assets/images/selector-arrow-down-highlighted.svg");
}

.arrowOpened {
  background-image: url("../../../assets/images/selector-arrow-up.svg");
}

.arrowClosed {
  background-image: url("../../../assets/images/selector-arrow-down.svg");
}
