.bank {
}

.selectorWrapper {
}

.option {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.selectorCurrentItem {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}
